USE [master]
GO
/****** Object:  Database [quanlyphongkhamV1.0]    Script Date: 10/13/2017 11:26:10 AM ******/
CREATE DATABASE [quanlyphongkhamV1.0]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlyphongkham', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\quanlyphongkham.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'quanlyphongkham_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\quanlyphongkham_log.ldf' , SIZE = 6272KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlyphongkhamV1.0].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlyphongkhamV1.0]
GO
/****** Object:  Table [dbo].[BENHNHAN]    Script Date: 10/13/2017 11:26:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BENHNHAN](
	[MABN] [nchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](250) NULL,
	[SODT] [varchar](20) NULL,
 CONSTRAINT [PK_BenhNhan] PRIMARY KEY CLUSTERED 
(
	[MABN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETDICHVU]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDICHVU](
	[MADV] [nchar](10) NOT NULL,
	[MAPHIEUKHAM] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CHITIETDICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC,
	[MAPHIEUKHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETDONTHUOC]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONTHUOC](
	[MADONTHUOC] [nchar](10) NOT NULL,
	[MATHUOC] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[HUONGDAN] [text] NULL,
 CONSTRAINT [PK_CHITIETDONTHUOC] PRIMARY KEY CLUSTERED 
(
	[MADONTHUOC] ASC,
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETNHAPVATTU]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNHAPVATTU](
	[MAPHIEUNHAP] [nchar](10) NOT NULL,
	[MAVTYT] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[MANHSX] [nchar](10) NULL,
	[NGAYSX] [date] NULL,
	[NGAYHETHAN] [date] NULL,
	[GIANHAP] [money] NULL,
	[GIABANLE] [money] NULL,
	[MANHACC] [nchar](10) NULL,
 CONSTRAINT [PK_CHITIETNHAPVATTU] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC,
	[MAVTYT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAPTHUOC]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAPTHUOC](
	[MAPHIEUNHAP] [nchar](10) NOT NULL,
	[MATHUOC] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[NGAYSX] [date] NULL,
	[NGAYHETHAN] [date] NULL,
	[GIANHAP] [money] NULL,
	[GIABANLE] [nchar](10) NULL,
	[MAHSX] [nchar](10) NULL,
	[MANHACC] [nchar](10) NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAPTHUOC] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC,
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCDANH]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCDANH](
	[MACHUCDANH] [nchar](10) NOT NULL,
	[TENCHUCDANH] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChucDanh] PRIMARY KEY CLUSTERED 
(
	[MACHUCDANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACHUCVU] [nchar](10) NOT NULL,
	[TENCHUCVU] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[MACHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [nchar](10) NOT NULL,
	[TENDV] [nvarchar](100) NULL,
	[GIATIEN] [money] NULL,
	[MALOAIDV] [nchar](10) NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONTHUOC]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONTHUOC](
	[MADONTHUOC] [nchar](10) NOT NULL,
	[MAPHIEUKHAM] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DonThuoc] PRIMARY KEY CLUSTERED 
(
	[MADONTHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONVITINH]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVITINH](
	[MADVT] [nchar](10) NOT NULL,
	[TENDVT] [nvarchar](50) NULL,
 CONSTRAINT [PK_DonViTinh] PRIMARY KEY CLUSTERED 
(
	[MADVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HANGSANXUAT]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGSANXUAT](
	[MAHSX] [nchar](10) NOT NULL,
	[TENHSX] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MAQUOCGIA] [nchar](10) NULL,
 CONSTRAINT [PK_HangSanXuat] PRIMARY KEY CLUSTERED 
(
	[MAHSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIDICHVU]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDICHVU](
	[MALOAIDV] [nchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAIDICHVU] PRIMARY KEY CLUSTERED 
(
	[MALOAIDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITHUOC]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITHUOC](
	[MALOAITHUOC] [nchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiThuoc] PRIMARY KEY CLUSTERED 
(
	[MALOAITHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACC] [nchar](10) NOT NULL,
	[TENNHACC] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SODT] [varchar](20) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MAQUOCGIA] [nchar](10) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MANHACC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[SODT] [varchar](20) NULL,
	[EMAIL] [varchar](50) NULL,
	[SOTK] [varchar](20) NULL,
	[MACHUCDANH] [nchar](10) NOT NULL,
	[MACHUCVU] [nchar](10) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MAPHANQUYEN] [int] NOT NULL,
	[QUYEN] [int] NULL,
	[GHICHU] [nvarchar](250) NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[MAPHANQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUKHAM]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUKHAM](
	[MAPHIEUKHAM] [nchar](10) NOT NULL,
	[MABN] [nchar](10) NULL,
	[NHANVIEN] [nchar](10) NULL,
	[CHUANDOAN] [nvarchar](250) NULL,
	[KETLUAN] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhieuKham] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUKHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEUNHAP] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NULL,
	[NGAYNHAP] [date] NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUOCGIA]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUOCGIA](
	[MAQUOCGIA] [nchar](10) NOT NULL,
	[TENQUOCGIA] [nvarchar](50) NULL,
 CONSTRAINT [PK_QuocGia] PRIMARY KEY CLUSTERED 
(
	[MAQUOCGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATK] [int] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](50) NOT NULL,
	[TENHIENTHI] [nvarchar](50) NULL,
	[MAPHANQUYEN] [int] NULL CONSTRAINT [DF_TaiKhoan_Quyen]  DEFAULT ((1)),
	[TRANGTHAI] [bit] NULL CONSTRAINT [DF_TaiKhoan_TrangThai]  DEFAULT ((1)),
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THANNHAN]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THANNHAN](
	[MATHANNHAN] [int] NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[SODT] [varchar](20) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[QUANHE] [nvarchar](50) NULL,
	[MABN] [nchar](10) NULL,
 CONSTRAINT [PK_ThanNhan] PRIMARY KEY CLUSTERED 
(
	[MATHANNHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOC](
	[MATHUOC] [nchar](10) NOT NULL,
	[TENTHUOC] [nvarchar](50) NULL,
	[DONVITINH] [nchar](10) NULL,
	[LOAITHUOC] [nchar](10) NULL,
	[SOLUONGTON] [int] NULL,
 CONSTRAINT [PK_Thuoc] PRIMARY KEY CLUSTERED 
(
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VATTUYTE]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTUYTE](
	[MAVTYT] [nchar](10) NOT NULL,
	[TENVATTU] [nvarchar](100) NULL,
	[MADVT] [nchar](10) NULL,
	[SOLUONGTON] [int] NULL,
 CONSTRAINT [PK_VatTuYTe] PRIMARY KEY CLUSTERED 
(
	[MAVTYT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CHITIETDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDICHVU_DICHVU1] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[CHITIETDICHVU] CHECK CONSTRAINT [FK_CHITIETDICHVU_DICHVU1]
GO
ALTER TABLE [dbo].[CHITIETDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDICHVU_PHIEUKHAM] FOREIGN KEY([MAPHIEUKHAM])
REFERENCES [dbo].[PHIEUKHAM] ([MAPHIEUKHAM])
GO
ALTER TABLE [dbo].[CHITIETDICHVU] CHECK CONSTRAINT [FK_CHITIETDICHVU_PHIEUKHAM]
GO
ALTER TABLE [dbo].[CHITIETDONTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONTHUOC_DONTHUOC] FOREIGN KEY([MADONTHUOC])
REFERENCES [dbo].[DONTHUOC] ([MADONTHUOC])
GO
ALTER TABLE [dbo].[CHITIETDONTHUOC] CHECK CONSTRAINT [FK_CHITIETDONTHUOC_DONTHUOC]
GO
ALTER TABLE [dbo].[CHITIETDONTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONTHUOC_THUOC] FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[THUOC] ([MATHUOC])
GO
ALTER TABLE [dbo].[CHITIETDONTHUOC] CHECK CONSTRAINT [FK_CHITIETDONTHUOC_THUOC]
GO
ALTER TABLE [dbo].[CHITIETNHAPVATTU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETNHAPVATTU_HANGSANXUAT] FOREIGN KEY([MANHSX])
REFERENCES [dbo].[HANGSANXUAT] ([MAHSX])
GO
ALTER TABLE [dbo].[CHITIETNHAPVATTU] CHECK CONSTRAINT [FK_CHITIETNHAPVATTU_HANGSANXUAT]
GO
ALTER TABLE [dbo].[CHITIETNHAPVATTU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETNHAPVATTU_NHACUNGCAP] FOREIGN KEY([MANHACC])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACC])
GO
ALTER TABLE [dbo].[CHITIETNHAPVATTU] CHECK CONSTRAINT [FK_CHITIETNHAPVATTU_NHACUNGCAP]
GO
ALTER TABLE [dbo].[CHITIETNHAPVATTU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETNHAPVATTU_PHIEUNHAP] FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CHITIETNHAPVATTU] CHECK CONSTRAINT [FK_CHITIETNHAPVATTU_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CHITIETNHAPVATTU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETNHAPVATTU_VATTUYTE] FOREIGN KEY([MAVTYT])
REFERENCES [dbo].[VATTUYTE] ([MAVTYT])
GO
ALTER TABLE [dbo].[CHITIETNHAPVATTU] CHECK CONSTRAINT [FK_CHITIETNHAPVATTU_VATTUYTE]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAPTHUOC_NHACUNGCAP] FOREIGN KEY([MANHACC])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACC])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPTHUOC] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAPTHUOC_NHACUNGCAP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAPTHUOC_PHIEUNHAP] FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPTHUOC] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAPTHUOC_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAPTHUOC_THUOC] FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[THUOC] ([MATHUOC])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAPTHUOC] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAPTHUOC_THUOC]
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_DICHVU_LOAIDICHVU] FOREIGN KEY([MALOAIDV])
REFERENCES [dbo].[LOAIDICHVU] ([MALOAIDV])
GO
ALTER TABLE [dbo].[DICHVU] CHECK CONSTRAINT [FK_DICHVU_LOAIDICHVU]
GO
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_DONTHUOC_PHIEUKHAM] FOREIGN KEY([MAPHIEUKHAM])
REFERENCES [dbo].[PHIEUKHAM] ([MAPHIEUKHAM])
GO
ALTER TABLE [dbo].[DONTHUOC] CHECK CONSTRAINT [FK_DONTHUOC_PHIEUKHAM]
GO
ALTER TABLE [dbo].[HANGSANXUAT]  WITH CHECK ADD  CONSTRAINT [FK_HangSanXuat_QuocGia] FOREIGN KEY([MAQUOCGIA])
REFERENCES [dbo].[QUOCGIA] ([MAQUOCGIA])
GO
ALTER TABLE [dbo].[HANGSANXUAT] CHECK CONSTRAINT [FK_HangSanXuat_QuocGia]
GO
ALTER TABLE [dbo].[NHACUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_NHACUNGCAP_QUOCGIA] FOREIGN KEY([MAQUOCGIA])
REFERENCES [dbo].[QUOCGIA] ([MAQUOCGIA])
GO
ALTER TABLE [dbo].[NHACUNGCAP] CHECK CONSTRAINT [FK_NHACUNGCAP_QUOCGIA]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucDanh] FOREIGN KEY([MACHUCDANH])
REFERENCES [dbo].[CHUCDANH] ([MACHUCDANH])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NhanVien_ChucDanh]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([MACHUCVU])
REFERENCES [dbo].[CHUCVU] ([MACHUCVU])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[PHIEUKHAM]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKham_BenhNhan] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
GO
ALTER TABLE [dbo].[PHIEUKHAM] CHECK CONSTRAINT [FK_PhieuKham_BenhNhan]
GO
ALTER TABLE [dbo].[PHIEUKHAM]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKham_NhanVien] FOREIGN KEY([NHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUKHAM] CHECK CONSTRAINT [FK_PhieuKham_NhanVien]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN1] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN1]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_PhanQuyen] FOREIGN KEY([MAPHANQUYEN])
REFERENCES [dbo].[PHANQUYEN] ([MAPHANQUYEN])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TaiKhoan_PhanQuyen]
GO
ALTER TABLE [dbo].[THANNHAN]  WITH CHECK ADD  CONSTRAINT [FK_THANNHAN_BENHNHAN] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
GO
ALTER TABLE [dbo].[THANNHAN] CHECK CONSTRAINT [FK_THANNHAN_BENHNHAN]
GO
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_Thuoc_DonViTinh] FOREIGN KEY([DONVITINH])
REFERENCES [dbo].[DONVITINH] ([MADVT])
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_Thuoc_DonViTinh]
GO
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_Thuoc_LoaiThuoc] FOREIGN KEY([LOAITHUOC])
REFERENCES [dbo].[LOAITHUOC] ([MALOAITHUOC])
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_Thuoc_LoaiThuoc]
GO
ALTER TABLE [dbo].[VATTUYTE]  WITH CHECK ADD  CONSTRAINT [FK_VatTuYTe_DonViTinh] FOREIGN KEY([MADVT])
REFERENCES [dbo].[DONVITINH] ([MADVT])
GO
ALTER TABLE [dbo].[VATTUYTE] CHECK CONSTRAINT [FK_VatTuYTe_DonViTinh]
GO
/****** Object:  StoredProcedure [dbo].[USP_LOGIN]    Script Date: 10/13/2017 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_LOGIN]	
@username CHAR(50),
@password CHAR(50)
AS
BEGIN
	SELECT COUNT(*) FROM dbo.TAIKHOAN WHERE TENDANGNHAP = @username AND MATKHAU = @password
END


GO
USE [master]
GO
